<div class="app-container">
    <div class ="container_home">
    <image-app></image-app>
    
    <div class="container_text">
        <h1>Bienvenido a MeyTech</h1>
        <p>Encuentra los planes que se adapten a tus necesidades, tenemos diferentes opciones para ti.</p>
    </div>
    <div class="container_inputs">
        <app-input-text></app-input-text>
        <app-button></app-button>
    </div>
    </div>

    <div class="container_menubar">
        <app-menubar></app-menubar>
    </div>

    <div class="container_toast">
        <div class="toast-container">
            <app-toast></app-toast>
        </div>
    </div>
    
    
    <div class="creditos">
        <p class="texto_creditos">Diseñado por: Valentina Melo (223034098), Andrés Tello (223034169) </p>
    </div>
    
</div>
