<div class="card flex justify-center">
   <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Servicios Web</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Ofrecemos el diseño, desarrollo e implementación de aplicaciones y plataformas web personalizadas que permiten a las empresas mejorar su presencia digital, optimizar procesos internos y brindar experiencias de usuario intuitivas. Nuestros servicios incluyen desde páginas corporativas hasta sistemas en línea complejos, con enfoque en rendimiento, seguridad y accesibilidad desde cualquier dispositivo.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Desarrollo de Software</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Creamos soluciones tecnológicas a la medida que se adaptan a las necesidades específicas de cada organización. Nuestro equipo se especializa en el análisis, diseño y construcción de aplicaciones escalables y eficientes, utilizando metodologías ágiles que garantizan un desarrollo rápido y flexible. Con ello, ayudamos a las empresas a innovar, reducir costos operativos y potenciar su competitividad.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Servidores</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
Brindamos servicios de configuración, administración y mantenimiento de servidores dedicados o en la nube, asegurando entornos seguros, estables y de alto rendimiento. Nos encargamos de la optimización, monitoreo y respaldo de la información, garantizando la disponibilidad continua de los sistemas y aplicaciones que soportan la operación de su negocio.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>