<div class="mb-4 p-8">
    <p-card>
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://i.ytimg.com/vi/SPZiO0JrftY/maxresdefault.jpg" width="500" />
        </ng-template>

        <ng-template #title> Desarrollo de Software </ng-template>

        <p class="m-0">
            Creamos soluciones tecnológicas a la medida que se adaptan a las necesidades específicas de cada organización. Nuestro equipo se especializa en el análisis, diseño y construcción de aplicaciones escalables y eficientes, utilizando metodologías ágiles que garantizan un desarrollo rápido y flexible. Con ello, ayudamos a las empresas a innovar, reducir costos operativos y potenciar su competitividad.
        </p>
        <app-button label="Contactar" class="mt-4"></app-button>
    </p-card>
</div>