<div class="mb-4 p-8">
    <p-card header="Servicios Web">
        <p class="m-0">
            Ofrecemos el diseño, desarrollo e implementación de aplicaciones y plataformas web personalizadas que permiten a las empresas mejorar su presencia digital, optimizar procesos internos y brindar experiencias de usuario intuitivas. Nuestros servicios incluyen desde páginas corporativas hasta sistemas en línea complejos, con enfoque en rendimiento, seguridad y accesibilidad desde cualquier dispositivo.
        </p>
    </p-card>
</div>