
.container_home {
    display: flex;
    gap: 280px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Espacio entre los elementos */
}

.container_menubar {
    width: 100%;
    margin: 35px 0px 35px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
}

.container_inputs {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
}

.container_cards {
    margin: 50px 20px 70px 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: #333;
    text-align: center;
}

p {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
}

.container_text {
    margin: 15px 0;
}

.container_image {
    text-align: left;
}

.texto_creditos {
    font-size: small;
    color: #f9f9f9;
    text-align: center;
}

.creditos {
    margin: 10px;
    align-items: center;
}