<div class="mb-4 p-8">
    <p-card header="Servidores">
        <p class="m-0">
            Brindamos servicios de configuración, administración y mantenimiento de servidores dedicados o en la nube, asegurando entornos seguros, estables y de alto rendimiento. Nos encargamos de la optimización, monitoreo y respaldo de la información, garantizando la disponibilidad continua de los sistemas y aplicaciones que soportan la operación de su negocio.
        </p>
        <app-button label="Contactar" class="mt-4"></app-button>
    </p-card>
</div>